/*FORMATO GENERAL*/

/* Habilita el desplazamiento suave en la página */
html {
    scroll-behavior: smooth;
}

/* Estilos generales para el cuerpo del documento */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina el margen exterior */
    padding: 0; /* Elimina el relleno interior */
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color del texto */
}

/* Estilos para el encabezado */
header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto en el encabezado */
    padding: 1rem; /* Espaciado interno en el encabezado, crea un margen interno */
    text-align: center; /* Alineación del texto en el centro */
}

/* Estilos para todas las imágenes */
img {
    width: 90%; /* Ancho del 90% del contenedor */
}

/* Estilos para los botones */
button {
    font-size: 0.9em; /* Tamaño de fuente */
    font-weight: bold; /* Peso de fuente */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid rgba(0, 0, 0, 0.5); /* Borde con transparencia */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    color: white; /* Color de texto */
    background-color: blueviolet; /* Color de fondo */
}


/* Estilos para las listas no ordenadas dentro del elemento "nav" */
nav ul {
    list-style: none; /* Elimina los marcadores de lista */
    margin: 0; /* Elimina los márgenes externos */
    padding: 0; /* Elimina el relleno interno */
}

/* Estilos para los elementos de lista dentro de "nav" */
nav li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para los enlaces dentro de "nav" */
nav a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    transition: color 0.3s ease-in-out; /* Transición suave del color del texto */
}

/* Estilos para los enlaces en estado "hover" dentro de "nav" */
nav a:hover {
    color: #ffd700; /* Color del texto 'ffd700' al pasar el cursor sobre los enlaces */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    text-align: center; /* Alineación del texto al centro */
    padding: 1rem; /* Espaciado interno en el pie de página */
}

/* Estilos para todas las listas desordenadas en la página */
ul {
    list-style-type: square; /* Tipo de marcador cuadrado */
}

/* Estilos para todos los títulos de nivel 1 en la página */
h1 {
    text-align: center; /* Alineación del texto al centro */
}

/*ID*/

/* Estilos para el elemento con el id "name" */
#name {
    font-size: 45px; /* Tamaño de fuente grande 45px*/
    font-weight: bold; /* Texto en negrita */
}

/* Estilos para el elemento con el id "indice" */
#indice {
    color: #2b2b2b;
    font-size: 26px;
}

/* Estilos para los enlaces dentro de listas en el elemento con el id "indice" */
#indice .indice ul li a {
    color: black;
    font-size: 16px;
}

/* Estilos para los enlaces en estado "hover" dentro de listas en el elemento con el id "indice" */
#indice .indice ul li a:hover {
    color: #ffd700; /* Cambiar el color al pasar el cursor por encima */
}

/*SECCIONES*/

/* Estilos para el contenido principal */
.main-content {
    width: 70%; /* Ancho del contenido */
    margin: 2rem auto; /* Margen en la parte superior e inferior, y centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para imágenes dentro del contenido principal */
.main-content img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Ajuste automático de la altura para mantener la proporción */
    margin-bottom: 1rem; /* Margen inferior */
}

/* Estilos para el elemento con la clase "índice" */
.índice {
    width: 100%; /* Ancho del 100% del contenedor */
    padding: 2rem; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para los enlaces dentro de elementos con la clase "índice" */
.índice a {
    color: #333; /* Color del texto */
    display: block; /* Convertir en elemento de bloque */
}

/* Estilos para listas desordenadas dentro de elementos con la clase "índice" */
.índice ul {
    list-style-type: none; /* Eliminar marcadores de lista */
    padding: 2; /* Espaciado interno */
    width: 200px; /* Ancho */
    background-color: #f1f1f1; /* Color de fondo */
}

/* Estilos para secciones de texto */
.text {
    background-color: #fff; /* Color de fondo */
    padding: 1.5rem; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-bottom: 2rem; /* Margen inferior */
}

/* Estilos para imágenes dentro de secciones de texto */
.text img {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Ajuste automático de la altura para mantener la proporción */
    margin-bottom: 1rem; /* Margen inferior */
}

/* Estilos para la sección de contacto */
.contact {
    background-color: #fff; /* Color de fondo */
    padding: 1.5rem; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-bottom: 2rem; /* Margen inferior */
}

/* Estilos para información de contacto */
.contact ul {
    list-style: none; /* Elimina marcadores de lista */
    padding: 0; /* Sin relleno */
}

.contact li {
    margin-bottom: 0.5rem; /* Margen inferior */
}

/* Estilos para el título de la sección de contacto */
.contact h3 {
    margin-bottom: 1rem; /* Margen inferior */
}

/* Estilos para listas dentro de la sección de contacto */
.contact ul {
    list-style: none; /* Elimina marcadores de lista */
    padding: 0; /* Sin relleno */
}

.contact li {
    margin-bottom: 0.5rem; /* Margen inferior */
}

/* Música */
/* Estilos para el carrusel de música */
.carousel {
    width: 100%; /* Ancho total */
    overflow: hidden; /* Ocultar contenido que excede el contenedor */
    position: relative; /* Posición relativa */
}

/* Estilos para el contenedor del carrusel */
.carousel-container {
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-evenly; /* Espacio uniforme entre elementos */
}

/* Estilos para los elementos del carrusel */
.carousel-item {
    color: #f2f2f2; /* Color del texto */
    align-items: center; /* Alinear elementos verticalmente */
    width: 25%; /* Ancho del elemento */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #2b2b2b; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para las imágenes dentro de los elementos del carrusel */
.carousel-item img {
    margin: 15px; /* Margen alrededor de la imagen */
}

/*SONIDO*/
/* Estilos para elementos de audio */
audio {
    width: 100%;
    /* Make the audio player full-width */
}

/* Style the audio controls */
audio::-webkit-media-controls-panel {
    background-color: #ffffff; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}

/* Style the play and pause button */
audio::-webkit-media-controls-play-button {
    background-color: #2b2b2b; /* Color de fondo */
    border-radius: 50%; /* Bordes redondeados para crear un círculo */
    width: 30px; /* Ancho */
    height: 30px; /* Altura */
    font-size: 20px; /* Tamaño de fuente */
    line-height: 30px; /* Alineación vertical del texto */
    text-align: center; /* Alineación del texto al centro */
    cursor: pointer; /* Cambiar el cursor a un ícono de puntero */
}


/* Estilos para el nombre de la canción */
#nombreCanción {
    font-weight: bold; /* Establecer peso de fuente en negrita */
}

/* Estilos para el artista de la canción */
#artistaCanción {
    font-size: x-small; /* Tamaño de fuente pequeño */
    color: #a3a3a3; /* Color de texto gris */
}

/* Estilos para imágenes dentro del elemento con el id "LibrosL" */
#LibrosL img {
    width: 150px; /* Ancho de la imagen */
    margin: 10px; /* Margen alrededor de la imagen */
    border: 5px solid #e3e3e3; /* Borde alrededor de la imagen */
}

#HobbiesL,
#DeportesL,
#CienciaL,
#MúsicaL,
#LibrosL {
    width: 90%; /* Ancho del 90% del contenedor */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para elementos con la clase "hobbies_a" */
.hobbies_a {
    width: 90%; /* Ancho del 90% del contenedor */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #15274d; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para imágenes dentro de elementos con la clase "hobbies_a" */
.hobbies_a img {
    width: auto; /* Ancho automático */
    border: 5px; /* Borde */
}

/* Estilos para elementos con la clase "Libros_a" */
.Libros_a {
    width: 90%; /* Ancho del 90% del contenedor */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: rgb(186, 178, 178); /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para imágenes dentro de elementos con la clase "Libros_a" */
.Libros_a img {
    width: 150px; /* Ancho de la imagen */
    margin: 10px; /* Margen alrededor de la imagen */
    border: 5px solid #e3e3e3; /* Borde alrededor de la imagen */
}

/* Estilos para elementos con la clase "Universos" */
.Universos {
    width: 90%; /* Ancho del 90% del contenedor */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #514359; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para imágenes dentro de elementos con la clase "Universos" */
.Universos img {
    width: auto; /* Ancho automático */
    display: block; /* Convertir en elemento de bloque */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
}

/* Estilos para elementos con la clase "Peliculas_A" */
.Peliculas_A {
    width: 90%; /* Ancho del 90% del contenedor */
    margin: 2rem auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    padding: 2rem; /* Espaciado interno */
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para imágenes dentro de elementos con la clase "Peliculas_A" */
.Peliculas_A img {
    width: 200px; /* Ancho de la imagen */
    height: auto; /* Altura automática */
    margin: 20px; /* Margen alrededor de la imagen */
}


/* Estilos para el elemento con el id "libro" */
#libro {
    text-align: center; /* Alineación del texto al centro */
    padding: 200px 12px; /* Espaciado interno (200px arriba/abajo, 12px izquierda/derecha) */
}

/* Estilos para elementos con la clase "color-acento" */
.color-acento {
    color: blueviolet; /* Cambiar el color del texto a azul violeta */
}

/* Estilos para el contenido dentro del elemento con el id "libro" */
#libro .container {
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-evenly; /* Espacio uniforme entre elementos */
}


/* Estilos para el texto dentro del elemento con el id "libro" */
#libro .texto {
    width: 50%; /* Ancho del 50% */
    max-width: 600px; /* Ancho máximo de 600px */
    text-align: initial; /* Alineación del texto a la izquierda */
    padding: 0px 30px; /* Espaciado interno (0px arriba/abajo, 30px izquierda/derecha) */
    display: flex; /* Mostrar elementos en línea */
    flex-direction: column; /* Dirección de columna */
    align-items: column; /* Alinear elementos verticalmente */
    justify-content: center; /* Justificar contenido verticalmente */
}


/* Estilos para el título h2 dentro del elemento con el id "libro" */
#libro h2 {
    font-size: 2.7em; /* Tamaño de fuente */
    margin-top: 0; /* Eliminar margen superior */
}


/* Estilos para los títulos h3 dentro del elemento con el id "libro" */
#libro h3 {
    font-size: 1.6em; /* Tamaño de fuente */
    margin-top: 0; /* Eliminar margen superior */
}

/* Estilos para el contenedor de imagen dentro del elemento con el id "libro" */
#libro .img-container {
    background-image: url("Extra/de-la-tierra-a-la-luna-portada.jpeg"); /* Imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center center; /* Posición centrada de la imagen */
    height: 700px; /* Altura de 700px */
    width: 600px; /* Ancho de 600px */
}

/* Estilos para la sección de películas */
#peliculas {
    background-color: rgb(0, 0, 0); /* Color de fondo negro */
    color: white; /* Color de texto blanco */
}

/* Estilos para el contenido dentro de la sección de películas */
#peliculas .container {
    text-align: center; /* Alineación del texto al centro */
    padding: 100px 0px; /* Espaciado interno (100px arriba/abajo, 0px izquierda/derecha) */
}

/* Estilos para los títulos h2 dentro de la sección de películas */
#peliculas h2 {
    margin-top: 0; /* Eliminar margen superior */
    font-size: 3.2em; /* Tamaño de fuente */
}

/* Estilos para los elementos con la clase "programas" dentro de la sección de películas */
#peliculas .programas {
    display: flex; /* Mostrar elementos en línea */
    justify-content: center; /* Centrar horizontalmente los elementos */
}

/* Estilos para los párrafos dentro de la sección de películas */
#peliculas p {
    display: block; /* Mostrar como bloque */
    font-size: 0.7em; /* Tamaño de fuente */
    margin-bottom: 30px; /* Margen inferior */
}

/* Estilos para los títulos h3 dentro de la sección de películas */
#peliculas h3 {
    font-size: 1.5em; /* Tamaño de fuente */
    font-style: condensed; /* Estilo de fuente condensado */
    margin-top: 120px; /* Margen superior */
}

/* Estilos para las cartas de películas dentro de la sección de películas */
#peliculas .carta {
    height: 200px; /* Altura de la carta */
    width: 250px; /* Ancho de la carta */
    background-position: center center; /* Posición de fondo centrada */
    padding: 50px; /* Espaciado interno */
    margin: 20px; /* Margen alrededor de la carta */
    border-radius: 15px; /* Bordes redondeados */
    background-size: 100% 150px; /* Tamaño de fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
    background-position-y: 0; /* Posición vertical de fondo */
    background-color: rgb(50, 50, 50, 0.5); /* Color de fondo con transparencia */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

/* Estilos para la primera carta de películas */
.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Extra/madagascar3.jpg"); /* Imagen de fondo con superposición de gradiente */
}

/* Estilos para la segunda carta de películas */
.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Extra/loboDeWallStreet.jpg"); /* Imagen de fondo con superposición de gradiente */
}

/* Estilos para la tercera carta de películas */
.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("Extra/interestelar1.1.jpg"); /* Imagen de fondo con superposición de gradiente */
}

/* Estilos para la tabla de horarios */
.horario {
    width: 100%; /* Ancho del 100% */
    border-collapse: collapse; /* Colapsar bordes de celda */
    margin: 20px 0; /* Margen en la parte superior e inferior */
}

.horario th,
.horario td {
    border: 1px solid #ddd; /* Borde de celda */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

.horario th {
    background-color: #f2f2f2; /* Color de fondo para encabezados de columna */
    font-weight: bold; /* Peso de fuente */
}

.horario td {
    background-color: #fff; /* Color de fondo para celdas */
}

.horario td:hover {
    background-color: #f7f7f7; /* Cambiar el color de fondo al pasar el cursor por encima */
}


/* Estilos generales para tablas */
table {
    border-collapse: collapse; /* Colapsar bordes de celda */
    width: 80%; /* Ancho del 80% */
    margin: auto; /* Centrar horizontalmente la tabla */
}

th,
td {
    border: 1px solid #252525; /* Borde de celda */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

th {
    background-color: #cdcdcd; /* Color de fondo para encabezados de columna */
}

tr:hover {
    background-color: rgb(147, 147, 147)faf; /* Cambiar el color de fondo al pasar el cursor por encima */
}



#NBA img {
    width: 200px; /* Ancho de imagen */
    margin: 0 auto; /* Margen automático en los lados horizontal */
    display: block; /* Mostrar como bloque para centrar la imagen */
}

/* Estilos para las imágenes dentro de elementos con la clase "Tabla_Posiciones" */
.Tabla_Posiciones img {
    width: 15px; /* Ancho de imagen */
}

/* Estilos para elementos con la clase "Tabla_Posiciones" */
.Tabla_Posiciones {
    font-size: smaller; /* Tamaño de fuente más pequeño */
}

/*extras*/
/* Estilos para la lista dentro del elemento con el id "pizzaList" */
#pizzaList ul {
    list-style-image: url(images/pizzaList.png); /* Imagen de viñeta */
    color: black; /* Color de texto */
}

/* Estilos para los enlaces dentro del elemento con el id "pizzaList" */
#pizzaList a {
    color: black;

}


/*about us INDEX*/
/* Estilos para el contenedor de imágenes e información */
.image-container {
    display: flex;
 
}

/* Estilos para la información debajo de las imágenes */
.infoImagen {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Muestra la información al pasar el mouse sobre la imagen */
.image-info:hover .infoImagen {
    display: block;
    opacity: 1;
}



